/* RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

i {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

img {
    width: 100%;
}
/* HEADER */

header {
    height: 50px;
    background-color: black;
}

nav{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}

.view {
    display: inline-block;
    padding: 8px;
    background-color: grey;
    border-radius: 10px;
    text-align: center;
    color: white;
    vertical-align: middle;
    margin: 0 5px;  
}


/* MAIN */

main {
    width: 100%;
    height: calc( 100vh - 120px);
    background-color: black;
    overflow-y: auto;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.card{
    
    width: calc( ( 100% / 7 ) - 10px );
    position: relative;
    margin: 5px 0;
}

.card img {
    height: 100%;
    width: 100%;
}

.user {
    background-color: rgba(94, 85, 85, 0.8);
    color: white;
    padding: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
}

/* FOOTER */

footer {
    background-color: #222;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.audio-video {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

footer ul {
    list-style-type: none;
    display: flex;
    color: white;
    font-size: 12px;
    text-align: center;
}

footer li {
    margin: 0 5px;
}

footer i {
    padding-bottom: 5px;
}

footer a {
    margin-bottom: 5px;
}
.arrow {
    align-self: center
}

.green i {
    color: lime;
}

.btn {
    height: 100%;
    background-color: #4a4a4a;
    line-height: 70px;
    padding: 0 10px;
}

.btn a {
    color: red;
}