/* RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

i {
    color: white;
    
}

a {
    text-decoration: none;
}

/* HEADER */

header {
    background-color: black;
    height: 50px;
}

nav{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}

.view {
    display: inline-block;
    padding: 8px;
    background-color: grey;
    border-radius: 10px;
    text-align: center;
    color: white;
    vertical-align: middle;
    margin: 0 5px;  
}


